body, html {
  font-family: 'Lucida Console', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  display: initial;
  background: white; 
}

/* --------------------------------------TOP MENU, NAVIGATION-------------------------------------- */

div.top-menu {
	display: flex;
	width: 100%;
	height: 3.3em;
	position: fixed;
	z-index: 1;
	background-color: white;
	border-bottom-color: rgb(109, 157, 119);
	border-bottom-style: dashed;
	border-bottom-width: 0.05em;
}

nav.navigation {
	width: 100%;
	z-index: 1;
	height: 3.3em;
	padding-left: 0%;
	padding-right: 0%;
}

#top a:link {
	color: darkgreen;
	text-decoration: none;
}

#top a:visited {
	text-decoration: none;
	color: darkgreen;
}

#top a:hover {
	color: #fcd253;
	text-decoration: none;
}

#top a:active {
	color: #fcd253;
	text-decoration: none;
}


div.logo img {
	  z-index: 1;
    margin-bottom: 0.4em;
    margin-right: 0.5em;
    margin-left: 1em;
    margin-top: 0.4em;
    height: 2.5em;
}

 ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  height: 3em;
  vertical-align: center;
  overflow: scroll;
  margin-top: 0;
  margin-bottom: 0;
} 

 li {
 color: rgb(97, 97, 97);
 font-family: Architects Daughter;
  font-weight: 130;
  letter-spacing: 0.2em;
  display: inline-block; 
  width: 22.5%;
  text-align: center;
  padding-top: 0.7em;
  font-size: 1.3em;
}

li:hover {
	color: #e1c53a;
}


/* --------------------------------------PHOTOS-------------------------------------- */
.wszystko {
}


.photos {
  text-align: center;
  width: 100%;
  padding-bottom: 4%;
  margin-top: 4em;
}

.opis {
  display: inline-block;
  width: 90%;
  vertical-align: top;
  height: 10em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 0.7em;
  overflow: scroll;
}

h1 {
   font-family: Barlow Semi Condensed;
      color: #6d9d78;
     font-size: 2.5em;
     text-align: left;
}

p1 {
  font-family: Barlow Semi Condensed;
  text-align: left;
  display: flex;
    color: #828a85;
}


.item {
	display: inline-block;
	width: 80%;
	vertical-align: top;
	height: 55em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	margin-bottom: 0.7em;
	overflow: scroll;
}


.item#phot1 {
background-image: url("https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/19477679_1326824757435999_2963981415991054954_o.jpg?oh=eede824577c9ac7c0777b963953b9fb1&oe=5A8F8D88");
}

.item#phot2 {
	background-image: url("https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/19488806_1326824754102666_7572665154270566773_o.jpg?oh=57b364ad10dfef712fa85e736877b890&oe=5AD6D917");
}


/* --------------------------------------FOOTER-------------------------------------- */

.footer {
  background-color: #54865e;
  width: 100%;
  display: inline-block;
  margin: auto;
  margin-bottom: 0.2em;
}
p6 {
  font-family: Architects Daughter;
  display: block;
  font-size: 1em;
  text-align: center;
  color: white;
}

p6:hover {
  color: #e1c53a;
}

